<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permetti a Newlife ti ottenere la tua posizione per ottenere indicazioni </string>
	<key>NSCameraUsageDescription</key>
	<string>Consenti l&apos;accesso a Newlife per scannerizzare i codice a barra dei prodotti</string>
</dict>
</plist>
